<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ini cetbot</title>
    <link rel="stylesheet" href="./../static/css/index-style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
  </head>
  <body>
    <div class="chat-container">
      <div class="chat-box" id="chat-box" style="text-transform: capitalize">
        <!-- Untuk cet nya -->
      </div>
      <!-- Nanti UI input ganti lagi, soalnya belum ada input speech -->
      <!-- <div class="input-area">
        <input type="text" id="user-input" placeholder="Type your message..." />
        <button id="btn-input" onclick="sendMessage()">Send</button>
      </div> -->
      <main>
        <button class="mic-toggle" id="mic">
          <span class="material-icons">mic</span>
        </button>

        <audio class="playback" src="" controls hidden></audio>
      </main>
    </div>

    <script src="./../static/js/script.js"></script>
  </body>
</html>
